{% extends "@App/template.html.twig" %}

{% block body %}
    <h1>TrueCron</h1>
    <p><em>Changing the world... <strong>one minute at a time.</strong></em></p>
    <pre>

Hello True North PHP.

This is TrueCron
        </pre>
{% endblock %}